.profile__avatar-button {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  background: transparent;
  position: absolute;
}

.profile__avatar-button:hover {
  background-image: url(../../../images/avatar-button.svg);
  background-color: rgba(0, 0, 0, .8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  align-self: center;
  outline: 1px solid black;
  cursor: pointer;
  opacity: 0.6;
}
