.header__link {
  text-decoration: none;
  transition: opacity .2s linear;
  color: #CCCCCC;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.header__link:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .header__text {
    font-size: 16px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 14px;
  }
}
