.popup__error {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.21;
  overflow-wrap: break-word;
  color: #FF0000;
  padding-top: 0;
  min-height: 30px;
}

.popup__error:last-of-type {
  margin-bottom: 18px;
}

