.popup__container_image {
  position: relative;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  overflow: visible;
  object-fit: cover;
}
