.popup__input_type_error {
  border-bottom: 1px solid red;
  margin-bottom: 0;
  /* padding: 11px 0 13px 0; */
}

/* .popup__input_type_error:last-of-type {
  margin-bottom: 0;
  padding: 0 0 13px 0;
} */
