.content {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .content {
    max-width: calc(100% - 40px*2);
  }
}

@media screen and (max-width: 767px) {
  .content {
    max-width: 100%;
    /* max-width: calc(100% - 19px*2); */
  }
}
